ENVIRONMENT=dev
API_TITLE=Deprecio API
API_VERSION=0.1.0
DEBUG=true
DATABASE_URL=sqlite:///./test.db
ALLOWED_ORIGINS=["http://localhost:3000"]
TELEGRAM_BOT_TOKEN=8685808313:AAEr3Z92dKcnsplbyEmsUyO-t-lWqfKNbFA
